<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

  <header>
    <% include ../partials/header %>
  </header>
  <main class="container">
    <h1>About Us</h1>
    <p>We're nobody</p>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>